[submodule "python-tools"]
	path = python-tools
	url = https://github.com/UW-Macrostrat/python-tools.git
[submodule "tools/tile-server/deps/morecantile"]
	path = tools/tile-server/deps/morecantile
	url = https://github.com/developmentseed/morecantile.git
