[submodule "python-tools"]
	path = python-tools
	url = https://github.com/UW-Macrostrat/python-tools.git
[submodule "tools/Orienteer"]
	path = tools/Orienteer
	url = https://github.com/davenquinn/Orienteer.git
[submodule "tools/tile-server"]
	path = tools/tile-server
	url = git://github.com/davenquinn/mars-tiler.git
